#character {
	font-size: 80px;
}
#contents {
	margin-top: 30px;
	font-family: 'Noto Sans SC', sans-serif;
	color: white;
	text-align: center;
}
#spelling {
	border-style: solid;
	border-width: 10px;
	border-color: #004D85;
	width: 1000px;
	height: 55px;
	font-size: 30px;
	margin-left: 90px;
}
body {
	background-image: url('abstractwallpaper.jpg');
}
.pictures {
	border-style: solid;
	border-color: white;
	border-width: 7px;
	margin-left: 100px;
	margin-top: 30px;
	height: 200px;
}
#progress {
	margin-left: 900px;
	font-size: 30px;
}